<div class="layout-wrapper" fxFlexFill [fxLayout]="layoutDefinition.majorDividerDirection" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" [ngStyle]="{'padding': '5px ' + layoutDefinition.sidesPadding + '%'}">
    <div class="primary" [fxLayout]="layoutDefinition.minorDividerDirection" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" [fxFlex]="layoutDefinition.primaryMajorPortion">
        <div class="panel-one" [fxFlex]="layoutDefinition.primaryMinorPortion">
            <app-panel [layoutComponents]="layoutComponents"></app-panel>
        </div>
        <div class="panel-two" fxFlex *ngIf="layoutDefinition.thirdPanel">
            <app-panel [layoutComponents]="layoutComponents"></app-panel>
        </div>
    </div>
    <div class="secondary" fxFlex>
        <app-panel [layoutComponents]="layoutComponents"></app-panel>
    </div>
</div>

<button mat-fab color="primary" class="floating-button" (click)="openDialog()">
    <mat-icon aria-label="Example icon-button with a heart icon">settings</mat-icon>
</button>