.layout-wrapper {
    // background: lightblue;
}

.secondary {
    background: lightcoral;
}

.panel-one {
    background: turquoise;
}

.panel-two {
    background: plum;
}

.floating-button {
    position: fixed;
    right: 30px;
    top: 30px;
}