:host {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  transition: flex-grow 0.2s;
  overflow: hidden;
  border-bottom: 1px solid #BDBDBD;
  display: flex;
  flex-direction: column;
}

:host(.expand) {
  flex-grow: 1;
  flex-shrink: 1;
  border: none;
}

.body-item {
  transition: flex-grow 0.2s;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.body-item-expand {
  flex-grow: 1;
}
