.container {
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  transition: all 0.2s;
}

:host(.expand) {
  flex-grow: 1;
}

