<!-- <div fxFlexFill class="container">
    <app-xp-accordion-panel [expanded]="step === 0" (click)="setStep(0)"></app-xp-accordion-panel>
    <app-xp-accordion-panel [expanded]="step === 1" (click)="setStep(1)"></app-xp-accordion-panel>
</div> -->

<div class="container">
    <div class="item" style="background: red"  (click)="setStep(0)" [ngClass]="step === 0 ? 'expand': ''">a</div>
    <div class="item" style="background: green" (click)="setStep(1)" [ngClass]="step === 1 ? 'expand': ''">b</div>
    <div class="item" style="background: blue" (click)="setStep(2)" [ngClass]="step === 2 ? 'expand': ''">c</div>
    <div class="item" style="background: purple" (click)="setStep(3)" [ngClass]="step === 3 ? 'expand': ''">d</div>
</div>
