.container {
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 0;
  transition: all 0.2s;
}

.expand {
  flex-grow: 1;
}


.example-full-width {
  width: 300px;
  padding: 2px 16px;
}

.header-style {
  padding: 8px;
  font-size: 22px;
  font-weight: 400;
  height: 50px;
}
