<div class="container">
    <app-xp-accordion-panel (click)="setStep(0)" [expanded]="step === 0" style="background: lightblue">
      <app-xp-accordion-panel-header>Results</app-xp-accordion-panel-header>
      <app-xp-accordion-panel-body>LIST OF DOCS GOES HERE</app-xp-accordion-panel-body>
    </app-xp-accordion-panel>
    <app-xp-accordion-panel (click)="setStep(1)" [expanded]="step === 1" style="background: lightcoral">
        <app-xp-accordion-panel-header>Related Documents</app-xp-accordion-panel-header>
        <app-xp-accordion-panel-body>LIST OF RELATED DOCS GOES HERE</app-xp-accordion-panel-body>
    </app-xp-accordion-panel>
    <app-xp-accordion-panel (click)="setStep(2)" [expanded]="step === 2" style="background: lightgoldenrodyellow">
        <app-xp-accordion-panel-header>Keywords</app-xp-accordion-panel-header>
        <app-xp-accordion-panel-body>LIST OF KEYWORDS GOES HERE</app-xp-accordion-panel-body>
    </app-xp-accordion-panel>
    <!-- <app-xp-accordion-panel (click)="setStep(3)" [expanded]="step === 3" style="background: lightgreen">
        <app-xp-accordion-panel-header>STUFF</app-xp-accordion-panel-header>
        <app-xp-accordion-panel-body>LIST OF stuff GOES HERE</app-xp-accordion-panel-body>
    </app-xp-accordion-panel> -->
</div>
