.container {
  display: flex;
  flex-direction: column;
}


// Irrelevant
.example-full-width {
  padding: 2px 16px;
}

.header-style {
  padding: 14px 8px 8px 8px;
  font-size: 22px;
  font-weight: 400;
  height: 30px;
  background: #ECEFF1;
}
