.container {
  display: flex;
  flex-direction: column;
}


// Irrelevant
.example-full-width {
  padding: 2px 16px;
}

.header-style {
  padding: 4px 4px 4px 10px;
  font-size: 22px;
  font-weight: 400;
  background: #ECEFF1;
}
