<div class="container" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="30px">
    <div>Select Layout</div>
    <div>
        <ng-container *ngFor="let layout of availableLayouts">
            <img [src]="layout.layoutIcon" alt="" width="100px" height="100px" class="layout-button" (click)="changeLayout(layout)" [ngClass]="{'selected-layout': layoutDefinition === layout }">
        </ng-container>
    </div>
    <button mat-button (click)="toggleAdvanced()">
        <mat-icon>
            {{ !showAdvanced ? 'expand_more' : 'expand_less' }}
        </mat-icon>Advanced Layout Settings
    </button>
    <div *ngIf="showAdvanced" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px"> Major Divider Position
        <mat-slider max="75" min="25" step="1" [(ngModel)]="tempLayout.primaryMajorPortion" (change)="onSliderChange()">
        </mat-slider>
        Minor Divider Position
        <mat-slider max="75" min="25" step="1" thumbLabel="true" [(ngModel)]="tempLayout.primaryMinorPortion" (change)="onSliderChange()" [disabled]="tempLayout.primaryMinorPortion === 0">
        </mat-slider>
        Side Padding (%)
        <mat-slider max="15" min="0" step="1" thumbLabel="true" [(ngModel)]="tempLayout.sidesPadding" (change)="onSliderChange()">
        </mat-slider>
    </div>
</div>